span{

	display: inline-block;

	width: 100px;

	font-weight: bold;

}

h2, span{

	padding-left: 20px;

}

#button{

	margin: 10px;

	padding: 5px;

}

img{

	float: right;

	margin-right: 20px;

}

#divide{

	float: left;

	padding-left: 10px;

}

#credit, #ship, #price, #hidden{

	display: none;

}

#box{

	padding: 5px;

	position: fixed;

	top: 100px;

	left: 600px;

}

.border{

	border: solid red;

}

.yesNo{

	display: inline;

	padding-right: 10px;

}